#bbq {
  height: auto;
  background-color: #171717;
  font-family: "Righteous", cursive;
}

/*BBQ-GRILL*/
#bbq h3 {
  font-size: 3em;
  margin: 0;
  padding-top: 0.5em;
  text-align: center;
  color: white;
}

#erklärtext,
#bbq_vegi_combo_container #preis {
  margin-top: 5%;
  color: white;
  font-size: 2em;
  text-align: center;
}

#bbq_grill {
  text-align: center;
  font-size: 3em;
  margin-top: 5%;
  text-decoration: underline;
}

#barbecueGrill_container {
  color: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 3%;
}

#bbq_vegi_combo_container {
  font-size: 1.5em;
}

#bbq_vegi_combo_container #preis {
  text-decoration: underline;
}

#bbq_grill,
#bbq_vegi_combo_container #preis,
#bbq_vegi_combo_container h2 {
  color: red;
  text-shadow: 2px 2px white;
}

/**********************************************************************************/
#trennlinie {
  border: 2px solid red;
}
/*********************************************************************************/

/*BBQ-MENÜ*/
