body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/*HOME*/
#home {
  height: auto;
  border-bottom: 3px solid red;
}

#home h2 {
  text-align: center;
  font-size: 3em;
  color: white;
  margin-top: 10%;
  font-family: "Righteous", cursive;
  text-shadow: 5px 5px black;
} /*Herzlich Willkommen*/

#home h1 {
  text-align: center;
  font-size: 5em;
  color: white;
  margin-top: 5%;
  font-family: "Righteous", cursive;
  text-shadow: 5px 5px black;
} /*ASIA FUSION & BBQ*/

#home h4 {
  text-align: center;
  font-size: 3em;
  color: white;
  margin-top: 5%;
  margin-bottom: 10%;
  font-family: "Righteous", cursive;
  text-shadow: 5px 5px black;
} /*HongKongHaus*/

/*Animation*/
.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, black 50%, red 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

/*Animation Slider*/
.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-text {
  color: #fff;
  font-family: "Righteous", cursive;
  text-align: center;
}
.slider {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}
.hide {
  background: black;
  overflow: hidden;
  align-items: center;
} /*verdeckt den text*/
.hide span {
  transform: translateY(100%);
  display: inline-block;
  font-size: 3em;
} /*verschiebt etwas nach unten*/

/*LAPTOP*/
@media screen and (max-width: 1200px) {
  #home h2 {
    font-size: 2em;
  }
  #home h1 {
    font-size: 3em;
  }
  #home h4 {
    font-size: 2em;
  }
}

/*MOBILE*/
@media screen and (max-width: 600px) {
  #home h2 {
    font-size: 1.5em;
  }
  #home h1 {
    font-size: 2em;
  }
  #home h4 {
    font-size: 1.5em;
  }
}
