#kontakt {
  height: auto;
  background-color: #171717;
  bottom: 0;
  font-family: "Righteous", cursive;
}
#kontakt h3 {
  font-size: 3em;
  margin: 0;
  padding-top: 0.5em;
  text-align: center;
  color: white;
}
#kontakt_container_first,
#kontakt_container_second {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1.5%;
}

#kontakt div p {
  font-size: 2.5em;
  color: white;
  margin-bottom: 0;
  text-align: center;
  margin-top: 5%;
}
#SM_container {
  display: flex;
  justify-content: center;
}
#SM_container a {
  width: 9%;
  display: inline;
  margin: 2%;
}

#insta:hover,
#tripadvisor:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

#uberschrift {
  color: red;
  height: 0.2em;
}

/*LAPTOP*/
@media screen and (max-width: 1200px) {
  #kontakt h3 {
    font-size: 2em;
  }
  #kontakt div p {
    font-size: 2em;
  }
}

/*MOBILE*/
@media screen and (max-width: 600px) {
  #kontakt h3 {
    font-size: 1.5em;
  }
  #kontakt div p {
    font-size: 1em;
  }
}
