#ueberUns {
  height: auto;
  background-color: #242424;
}
#ueberUns h3 {
  font-size: 3em;
  margin: 0;
  padding-top: 0.5em;
  text-align: center;
  color: white;
  font-family: "Righteous", cursive;
}

#ueberUns h1 {
  text-align: center;
  margin-top: 5%;
  font-family: "Righteous", cursive;
  font-size: 4em;
  color: red;
  text-shadow: 2px 2px white;
}

#ueberUns div {
  border-top: 5px solid red;
  margin: 5% 10%;
}

#ueberUns p {
  color: white;
  text-align: center;
  font-size: 2em;
  padding: 8%;
  font-family: "Righteous", cursive;
}
