#ueberUns {
  height: auto;
  background-color: #242424;
  font-family: "Righteous", cursive;
}
#ueberUns h3 {
  font-size: 3em;
  margin: 0;
  padding-top: 0.5em;
  text-align: center;
  color: white;
}

#ueberUns h1 {
  text-align: center;
  margin-top: 5%;
  font-size: 4em;
  color: red;
  text-shadow: 2px 2px white;
}

#ueberUns div {
  border-top: 5px solid red;
  margin: 5% 10%;
}

#ueberUns p {
  color: white;
  text-align: center;
  font-size: 2em;
  padding: 8%;
}

/*LAPTOP*/
@media screen and (max-width: 1200px) {
  #ueberUns h3 {
    font-size: 2em;
  }
  #ueberUns h1 {
    font-size: 3em;
  }
  #ueberUns p {
    font-size: 2em;
  }
}

/*MOBILE*/
@media screen and (max-width: 600px) {
  #ueberUns h3 {
    font-size: 1.5em;
  }
  #ueberUns h1 {
    font-size: 2em;
  }
  #ueberUns p {
    font-size: 1em;
  }
}
